In [36]:
import pandas as pd

triples = [ ( 'a', 'b', 'c' ), ( 'a', 'e', 'f' ), ( 'a', 'h', 'i' ), ( 'b', 2, ( 1, 2, 3 ) ), ( 'b', 2, ( 4, 5, 6 ) ) ]

df = pd.DataFrame([ [ t[0], t[1], t[2], t ] for t in triples ], columns=list("spot"))
df

# idx = pd.MultiIndex.from_tuples(triples, names=['s', 'p', 'o'])
# series = series.reindex(idx)

   s  p          o                  t
0  a  b          c          (a, b, c)
1  a  e          f          (a, e, f)
2  a  h          i          (a, h, i)
3  b  2  (1, 2, 3)  (b, 2, (1, 2, 3))
4  b  2  (4, 5, 6)  (b, 2, (4, 5, 6))

In [37]:
df[(df['s']=='b') & (df['p']==2) & (df['o']==(1, 2, 3))]

   s  p          o                  t
3  b  2  (1, 2, 3)  (b, 2, (1, 2, 3))

In [45]:
needle = [ True ] * len(df)
needle &= df['s']=='b'
needle &= df['o']==(1, 2, 3)

df[needle]

   s  p          o                  t
3  b  2  (1, 2, 3)  (b, 2, (1, 2, 3))

In [60]:
from n3.parse import parse_n3

data = """@prefix : <http://example.org/> . 
:will a :Person ; :address :addr1 . :addr1 :country "CA" .
:ed :ability :think ; :address :addr1 ; :describedAs :Person .
:el :ability :drink ; :address :addr1 ; :describedAs :Belgian .
:dor :ability :think ; :address :addr2 ; :describedAs :German .
:soc :name "Socrates" ; :address :addr1 .
"""

data = parse_n3(data).data
data

<http://example.org/will> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://example.org/Person> .
<http://example.org/will> <http://example.org/address> <http://example.org/addr1> .
<http://example.org/addr1> <http://example.org/country> "CA" .
<http://example.org/ed> <http://example.org/ability> <http://example.org/think> .
<http://example.org/ed> <http://example.org/address> <http://example.org/addr1> .
<http://example.org/ed> <http://example.org/describedAs> <http://example.org/Person> .
<http://example.org/el> <http://example.org/ability> <http://example.org/drink> .
<http://example.org/el> <http://example.org/address> <http://example.org/addr1> .
<http://example.org/el> <http://example.org/describedAs> <http://example.org/Belgian> .
<http://example.org/dor> <http://example.org/ability> <http://example.org/think> .
<http://example.org/dor> <http://example.org/address> <http://example.org/addr2> .
<http://example.org/dor> <http://example.org/describedAs> <http://example.org/German> .
<http://example.org/soc> <http://example.org/name> "Socrates" .
<http://example.org/soc> <http://example.org/address> <http://example.org/addr1> .

In [61]:
def result_fn(t, _):
    print(f"solution: {t}")

data.find('http://example.org/will', 'http://example.org/address', None, None, result_fn)

solution: <http://example.org/will> <http://example.org/address> <http://example.org/addr1> .